<div class='home'>
  <h1>Phrase Based Password Prototype</h1>
  <h2>Adam Ward, Nicholas Lewanowicz, Basim Ramadhan and Tom Robin</h2>
  <p align="center">The objective of this study is to identify the practical application of semantic phrase based passwords.<br/> 
     The following system incorporates passphrases with photographic cues and we are collectiing data to study its effectiveness.<br/>
     By clicking the below buttons you agree to the consent conditions outlined <a href="https://drive.google.com/file/d/1NESC0BPHtVbUK0dOwWgIGcZvqPI6nYwD/view?usp=sharing">here</a> 
     
  </p>
  
  {{#link-to 'random1'}}
    <button>Generate Random Passwords</button>
  {{/link-to}}
  {{#link-to (concat 'demo' firstDemo)}}
    <button>Authenticate Passwords</button>
  {{/link-to}}
  {{#link-to 'log'}}
    <button>Get Log</button>
  {{/link-to}}
</div>
